body{
    background-image: url(dj.jpg);
}
h1{
    -webkit-text-fill-color: white;
    font-family: sans-serif;
     width: 25%;
     text-align-last: center;
}
    .topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color:pink;
    color: white;
}
.topnav button {

            background-color: salmon;
            background-repeat:no-repeat;
            border: white;
            width: 23sp;
            cursor:pointer;
            overflow: hidden;

        }